{:deps {thheller/shadow-cljs {:mvn/version "2.17.8"}
        lambdaisland/kaocha-cljs2 {:mvn/version "0.0.35"}
        lambdaisland/kaocha {:mvn/version "1.63.998"}
        com.lambdaisland/glogi {:mvn/version "1.1.144"}
        lambdaisland/chui-remote {:mvn/version "1.1.192"}
        lambdaisland/chui-ui {:mvn/version "1.1.192"}
        lambdaisland/funnel {:mvn/version "1.4.71"}
        binaryage/devtools {:mvn/version "1.0.5"}}
 :aliases {:dev {:extra-paths [ "test"]}}}

