{:paths   ["src"]
 :deps    {cljs.java-time/cljs.java-time {:mvn/version "0.1.19"
                                          ;:git/url "https://github.com/henryw374/cljs.java-time.git"
                                          ;:sha "a0c35ba6c49916f0f9f5e72c050f08c49f1505ac"
                                          }}
 :aliases {:build {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}
                                   io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}}
                      :paths ["dev"]
                      :ns-default build}
           :dev       {:extra-paths ["dev" "test"]
                       :extra-deps  {medley/medley                       {:mvn/version "0.8.4"}
                                     camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.0"}
                                     org.clojure/tools.namespace         {:mvn/version "0.2.11"}
                                     org.clojure/clojure                 {:mvn/version "1.11.0-rc1"}
                                     }}
           :bb        {:extra-deps  {tubular/tubular {:mvn/version "1.3.0"}}
                       :extra-paths ["dev" "test"]}
           :test      {:extra-paths ["test"]
                       :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                :sha     "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
                       :main-opts   ["-m" "cognitect.test-runner"]}
           :test-cljs {:extra-paths ["dev " "test" "web-target"]
                       :extra-deps  {com.widdindustries/tiado-cljs2
                                     { ;:local/root "../shadow-template" 
                                      :git/url "https://github.com/henryw374/tiado-cljs2.git"
                                      :sha "fbd9f3b8df3523ccf11bbc685836ce7f96f18068"
                                      }}}
           }}
